@using ENews.Common
@using ENews.Data.Models.Enums


<!DOCTYPE html>
<html lang="en">
<head>
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <environment names="Development">
        <!-- Favicon -->
        <link rel="icon" href="~/img/core-img/favicon.ico" asp-append-version="true">

        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="~/style.css" asp-append-version="true">

        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <!-- Favicon -->
        <link rel="icon" href="~/img/core-img/favicon.ico" asp-append-version="true">

        <!-- Core Stylesheet -->
        <link rel="stylesheet" href="~/style.css" asp-append-version="true">

        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>

<body onload="getWeatherData()">
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Logo -->
                            <div class="logo">
                                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://colorlib.com/preview/theme/newspaper/img/core-img/logo.png" alt=""></a>
                            </div>

                            <!-- Login Search Area -->
                            <div class="login-search-area d-flex align-items-center">
                                <!-- Login -->
                                <div class="login d-flex">
                                    <partial name="_LoginPartial" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="newspaper-main-menu" id="stickyMenu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="newspaperNav">

                        <!-- Logo -->
                        <div class="logo">
                            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://colorlib.com/preview/theme/newspaper/img/core-img/logo.png" alt=""></a>
                        </div>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li>
                                        <a asp-area="" asp-controller="Categories" asp-action="Local" class="nav-link text-dark">Bulgaria</a>
                                        <div class="megamenu">
                                            @for (int i = 1; i <= Html.GetEnumSelectList<Region>().Count(); i++)
                                            {
                                                if (i % 7 == 0)
                                                {
                                                    <ul class="single-mega cn-col-4">
                                                        @for (int x = @i - 6; x <= @i; x++)
                                                        {
                                                            <li>
                                                                <a asp-area="" asp-controller="Categories" asp-action="LocalByRegion" asp-route-data="@((Region)x)"> @(((Region)x).ToString().Replace("_", " ")) </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            }
                                        </div>
                                    </li>
                                    <vc:categories></vc:categories>
                                    <li><a asp-area="" asp-controller="Galleries" asp-action="Index" class="nav-link text-dark">Galleries</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <!-- Latest News Widget -->
                    <div class="breaking-news-area d-flex align-items-center">
                        <div class="news-title">
                            <p>Latest News</p>
                        </div>
                        <div id="breakingNewsTicker" class="ticker">
                            <vc:latest-headlines></vc:latest-headlines>
                        </div>
                    </div>
                    <!-- Latest News Widget -->
                    <div class="breaking-news-area d-flex align-items-center mt-15">
                        <div class="news-title title2">
                            <p>International</p>
                        </div>
                        <div id="internationalTicker" class="ticker">
                            <vc:latest-international-headlines></vc:latest-international-headlines>
                        </div>
                    </div>
                </div>

                <!-- Hero Add -->
                <div class="col-12 col-lg-4" id="weatherPanel" style="display:none">
                    <div class="card" style="white-space:nowrap; border-radius: inherit">
                        <div class=" card-header">
                            <div class="row">
                                <div class="col">
                                    <h5 id="cityName" style="text-align:left">Name</h5>
                                </div>
                                <div class="col">
                                    <h6 class="text-muted" style="text-align:center" id="description"></h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div id="icon" class="pl-2"><img id="wicon" src="" alt="Weather icon"></div>
                                <div id="temp" class="pl-2">C</div>
                            </div>
                            <div class="col-8">
                                <div class="pr-2" id="wind" style="text-align:right">m/s</div>
                                <div class="pr-2" id="pressure" style="text-align:right">Pa</div>
                                <div class="pr-2" id="humidity" style="text-align:right">%</div>
                            </div>
                        </div>
                    </div>
                </div>
                @*<div id="heroAdd" class="hero-add card-header">
                        <a href="https://www.google.com/" target="_blank"><img src="https://colorlib.com/preview/theme/newspaper/img/bg-img/hero-add.gif" alt=""></a>
                    </div>*@
            </div>
        </div>
    </div>
    <!-- ##### Hero Area End ##### -->



    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main">
            @this.RenderBody()
        </main>
    </div>

    <!-- ##### Footer Add Area Start ##### -->
    <div class="footer-add-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-add">
                        <a href="https://www.google.com/" target="_blank"><img src="https://colorlib.com/preview/theme/newspaper/img/bg-img/footer-add.gif" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Footer Add Area End ##### -->
    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">

        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="footer-widget-area mt-80">
                            <!-- Footer Logo -->
                            <div class="footer-logo">
                                <a asp-area="" asp-controller="Home" asp-action="Index"><img src="https://colorlib.com/preview/theme/newspaper/img/core-img/logo.png" alt=""></a>
                            </div>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="mailto:contact@youremail.com">contact@youremail.com</a></li>
                                <li><a href="tel:+4352782883884">+43 5278 2883 884</a></li>
                                <li><a href="http://yoursitename.com">www.yoursitename.com</a></li>
                                <li>
                                    <a asp-area="" asp-controller="Rss" asp-action="EUNews"><strong>RSS</strong></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <a asp-area="" asp-controller="Home" asp-action="Privacy"><h4 class="widget-title">Privacy</h4></a>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <a asp-area="" asp-controller="Home" asp-action="About"><h4 class="widget-title">About</h4></a>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-4 col-lg-2">
                        <div class="footer-widget-area mt-80">
                            <!-- Title -->
                            <h4 class="widget-title">+More</h4>
                            <!-- List -->
                            <ul class="list">
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Design</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Arts</a></li>
                                <li><a href="#">Autos</a></li>
                                <li><a href="#">Luxury</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer Area -->
        <div class="bottom-footer-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <!-- Copywrite -->
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <environment names="Development">
        @*NEW*@
        <script src="~/js/jquery/jquery-2.2.4.min.js" asp-append-version="true"></script>
        <!-- Popper js -->
        <script src="~/js/bootstrap/popper.min.js" asp-append-version="true"></script>
        <!-- Bootstrap js -->
        <script src="~/js/bootstrap/bootstrap.min.js" asp-append-version="true"></script>
        <!-- All Plugins js -->
        <script src="~/js/plugins/plugins.js" asp-append-version="true"></script>
        <!-- Active js -->
        <script src="~/js/active.js" asp-append-version="true"></script>

        @*<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>*@
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        @*NEW*@
        <script src="~/js/jquery/jquery-2.2.4.min.js" asp-append-version="true"></script>
        <!-- Popper js -->
        <script src="~/js/bootstrap/popper.min.js" asp-append-version="true"></script>
        <!-- Bootstrap js -->
        <script src="~/js/bootstrap/bootstrap.min.js" asp-append-version="true"></script>
        <!-- All Plugins js -->
        <script src="~/js/plugins/plugins.js" asp-append-version="true"></script>
        <!-- Active js -->
        <script src="~/js/active.js" asp-append-version="true"></script>

        @*<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>*@
        <script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @this.RenderSection("Scripts", required: false)
</body>
</html>
