@model ENews.Web.ViewModels.Shared.Paging.PagingViewModel

<nav aria-label="Page navigation example" class="center">
    <ul class="pagination mt-50 justify-content-center">

        @*First page*@
        @if (this.Model.CurrentPage != 1)
        {
            <li class="page-item">
                <a class="page-link" asp-route-page="1" asp-route-sortBy="@ViewData["currentSortOrder"]" asp-route-search="@ViewData["search"]">1</a>
            </li>
        }
        @*Pages before current page*@
        @for (int i = this.Model.CurrentPage - 2; i < this.Model.CurrentPage; i++)
        {
            @if (i > 1)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-route-page="@i" asp-route-sortBy="@ViewData["currentSortOrder"]">@i</a>
                </li>
            }
        }
        @*Current page*@
        @{
            <li class="page-item active">
                <a class="page-link"
                   asp-route-page="@this.Model.CurrentPage" asp-route-sortBy="@ViewData["currentSortOrder"]" asp-route-search="@ViewData["search"]">@this.Model.CurrentPage</a>
            </li>
        }
        @*Pages after current page*@
        @for (int i = this.Model.CurrentPage + 1; i <= this.Model.CurrentPage + 2; i++)
        {
            @if (i < this.Model.PagesCount)
            {

                <li class="page-item">
                    <a class="page-link"
                       asp-route-page="@i" asp-route-sortBy="@ViewData["currentSortOrder"]" asp-route-search="@ViewData["search"]">@i</a>
                </li>
            }
        }
        @*Last page*@
        @if (this.Model.CurrentPage != this.Model.PagesCount)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route-page="@(this.Model.PagesCount)" asp-route-sortBy="@ViewData["currentSortOrder"]" asp-route-search="@ViewData["search"]">@this.Model.PagesCount</a>
            </li>
        }
    </ul>
</nav>