@using ENews.Common
@model ENews.Web.ViewModels.Home.AboutViewModel
<!-- ##### About Area Start ##### -->
<section class="about-area">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h2>A young and professional team</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu metus sit amet odio sodales placerat. Sed varius leo ac leo fermentum, eu cursus nunc maximus. Integer convallis nisi nibh, et ornare neque ullamcorper ac. Nam id congue lec tus, a venenatis massa. Maecenas justo libero, vulputate vel nunc id, blandit feugiat sem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque consectetur, purus imperdiet volutpat tincidunt, eros sem mollis quam, ut placerat urna neque at massa. Proin vitae pulvinar justo. Donec vel placerat enim, at ultricies risus.</p>
            </div>
            <div class="col-12 col-lg-6">
                <p>Donec gravida non metus blandit facilisis. Cras tincidunt, lorem aliquam molestie eleifend, libero dui volutpat dui, nec sodales massa libero ut metus. Mauris pretium elit ut dapibus consequat. Nam ut lorem nec sem dignissim gravida. Duis fringilla.</p>
                <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellentesque lectus et accumsan aliquam. Fusce lobortis cursus quam, id mattis sapien. Aliquam erat volutpat. Aliquam placerat, est quis sagittis tincidunt, ipsum eros posuere mi, ut finibus quam sem eget ex.</p>
            </div>
        </div>

        <div class="row align-items-center mt-80">
            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact d-flex align-items-center">
                    <h3><span class="counter">@Model.ArticlesCount</span></h3>
                    <div class="cf-text">
                        <h6>News Article</h6>
                    </div>
                </div>
            </div>

            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact d-flex align-items-center">
                    <h3><span class="counter">@Model.MembersCount</span></h3>
                    <div class="cf-text">
                        <h6>Reporters</h6>
                    </div>
                </div>
            </div>

            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact d-flex align-items-center">
                    <h3><span class="counter">@Model.UsersCount</span></h3>
                    <div class="cf-text">
                        <h6>Users</h6>
                    </div>
                </div>
            </div>

            <!-- Single Cool Fact -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-fact d-flex align-items-center">
                    <h3><span class="counter">@Model.ArticleReads</span></h3>
                    <div class="cf-text">
                        <h6>Reads</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->
<!-- ##### Team Area Start ##### -->
<section class="newspaper-team mb-30">
    <div class="container">
        <div class="row">

            @foreach (var employee in Model.TopEmployees)
            {
                <div class="col-12 col-sm-6 col-lg-3">

                    <div class="single-team-member">
                        @if (string.IsNullOrEmpty(employee.ProfilePictureImageUrl))
                        {
                            @*<img src="@GlobalConstants.ProfilePictureFill" alt="author">*@
                            <img class="rounded img-thumbnail img-fluid w-100 h-100" src="@GlobalConstants.ProfilePictureFill" />
                        }
                        else
                        {
                            @*<img src="@employee.ProfilePictureImageUrl" alt="author">*@
                            <img class="rounded img-thumbnail img-fluid w-100 h-100" src="@employee.ProfilePictureImageUrl" />

                        }
                        <div class="team-info">
                            <a asp-controller="users" asp-action="Index" asp-route-username="@employee.UserName"><h5>@employee.UserName</h5></a>
                            @if (!(string.IsNullOrEmpty(employee.FirstName)))
                            {
                                <h6>@employee.FirstName @employee.LastName</h6>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- ##### Team Area End ##### -->
