@model ENews.Web.ViewModels.Home.IndexViewModel

@using ENews.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@foreach (var article in Model.LatestFiveArticles)
{
    <div class="topic">
        <div class="topic-information">
            <a asp-controller="Articles" asp-action="Index" asp-route-id="@article.Id">
                <img src="@article.PictureImageUrl" height="100" width="177" />
                <h4>
                    @article.PreviewTitle - C(@article.CategoryTitle) SubC(@article.SubCategoryTitle)
                </h4>
            </a>
            <p class="text">
                @article.ContetPreview
            </p>
        </div>
        <div>
            <p align="right">
                @article.CreatedOn
            </p>
        </div>
    </div>
}

<div class="text-center">
    <h1 class="display-4">Welcome to @GlobalConstants.SystemName!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>