@using ENews.Common
@model ENews.Web.ViewModels.Articles.ArticleViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<div class="blog-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">

                    <!-- Single Featured Post -->
                    <div class="single-blog-post featured-post single-post">


                        <div class="post-thumb">
                            <img src="@Model.PictureImageUrl" style='height: 100%; width: 100%; object-fit: contain' />
                        </div>
                        <div class="post-data">
                            <a asp-area="" asp-controller="Categories" asp-action="Index" asp-route-name="@Model.CategoryTitle" class="post-catagory">@Model.CategoryTitle</a>
                            <h3 class="post-title">@Model.Title</h3>
                            <div class="post-meta">

                                <p class="post-author">
                                    By <a href="#">
                                        @if (Model.AuthorFirstName == null)
                                        {
                                            @Model.AuthorUserName
                                        }
                                        else
                                        {
                                            @Model.AuthorFullName
                                        }
                                    </a>
                                </p>
                                <p>
                                    @Html.Raw(Model.SanitizedContent)
                                </p>

                                <!-- Post Like & Post Comment -->

                                <div class="d-flex align-items-center post-like--comments">
                                    <i class="fa fa-eye text-muted fsize-3"></i> <span>@Model.SeenCount</span>
                                    <img class="post-comment" src="~/img/core-img/chat.png" alt=""> <span>@Model.CommentsCount</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- About Author -->
                    <div class="blog-post-author d-flex">
                        <div class="author-thumbnail">
                            @if (string.IsNullOrWhiteSpace(@Model.AuthorProfilePictureImageUrl))
                            {
                                <img src="@GlobalConstants.ProfilePictureFill" alt="">
                            }
                            else
                            {
                                <img src="@Model.AuthorProfilePictureImageUrl" alt="">
                            }
                        </div>
                        <div class="author-info">
                            @if (string.IsNullOrWhiteSpace(@Model.AuthorFirstName))
                            {
                                <a href="#" class="author-name">@Model.AuthorUserName, <span>The Author</span></a>

                            }
                            else
                            {
                                <a href="#" class="author-name">@Model.AuthorFullName, <span>The Author</span></a>
                            }
                            @if (string.IsNullOrWhiteSpace(@Model.AuthorBiography))
                            {
                                <p>Donec turpis erat, scelerisque id euismod sit amet, fermentum vel dolor. Nulla facilisi. Sed pellen tesque lectus et accu msan aliquam. Fusce lobortis cursus quam, id mattis sapien.</p>
                            }
                            else
                            {
                                <p>@Model.AuthorBiography</p>
                            }
                        </div>
                    </div>

                    <div class="pager d-flex align-items-center justify-content-between">
                        <div class="prev">
                            <a href="#commentSecion" class="active">Comment</a>
                        </div>
                        @if (Model.GalleryId != null)
                        {
                            <div class="next">
                                <a asp-area="" asp-controller="Galleries" asp-action="Preview" asp-route-id="@Model.GalleryId">Gallery</a>
                            </div>
                        }
                    </div>

                    <div class="section-heading">
                        <h6>Popular from @Model.CategoryTitle</h6>
                    </div>
                    <div class="row">
                        <vc:more-articles-from-current-article-category category-id="@Model.CategoryId" take="2" article-id="@Model.Id" skip="0"></vc:more-articles-from-current-article-category>
                    </div>
                    <!-- Comment Area Start -->
                    <div id="commentSecion" class="comment_area clearfix">
                        <h5 class="title">@Model.CommentsCount Comments</h5>
                        <ol>
                            @foreach (var comment in Model.Comments.OrderByDescending(c => c.CreatedOn))
                            {
                                <li class="single_comment_area">
                                    <!-- Comment Content -->
                                    <div class="comment-content d-flex">
                                        <!-- Comment Author -->
                                        <div class="comment-author">
                                            @if (string.IsNullOrEmpty(comment.UserProfilePictureImageUrl))
                                            {
                                                <img src="@GlobalConstants.ProfilePictureFill" alt="author">
                                            }
                                            else
                                            {
                                                <img src="@comment.UserProfilePictureImageUrl" alt="author">
                                            }
                                        </div>
                                        <!-- Comment Meta -->
                                        <div class="comment-meta">
                                            <a href="#" class="post-author">@comment.UserUserName</a>
                                            <a href="#" class="post-date">@comment.CreatedOn.ToString("dddd, dd MMMM yyyy HH:mm:ss")</a>
                                            <p>@comment.Content</p>
                                        </div>
                                    </div>
                                </li>
                            }
                        </ol>
                    </div>

                    <div>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <div>
                                <button type="button" class="btn newspaper-btn" onclick="showCommentForm()">Add Comment</button>
                            </div>
                        }
                    </div>
                    <div style="display: none">
                        <form asp-controller="Comment" asp-action="Create" method="post">
                            <input type="hidden" name="ArticleId" value="@this.Model.Id" />
                            <div id="commentTextBox" class="form-group">
                                <textarea name="Content" id="Content" asp-for="@Model.CommentModel.Content" class="form-control"></textarea>
                                <span asp-validation-for="@Model.CommentModel.Content" class="text-danger"></span>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-primary" value="Submit" />
                            </div>
                        </form>
                    </div>


                    <div id="CommentForm" class="post-a-comment-area section-padding-80-0" style="display:none">
                        <h4>Leave a comment</h4>

                        <!-- Reply Form -->
                        <div class="contact-form-area">
                            <form asp-controller="Comment" asp-action="Create" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="row">
                                    <div class="col-12">
                                        <input type="hidden" name="ArticleId" value="@this.Model.Id" />
                                        <div id="commentTextBox" class="form-group">
                                            <textarea name="Content" id="Content" asp-for="@Model.CommentModel.Content" class="form-control" cols="30" rows="10" placeholder="Message"></textarea>
                                            <span asp-validation-for="@Model.CommentModel.Content" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-12 text-center">
                                        <button class="btn newspaper-btn mt-30 w-100" type="submit">Submit Comment</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-4">
                <div class="blog-sidebar-area">

                    <!-- Latest Posts Widget -->
                    <div class="latest-posts-widget mb-30">
                        <vc:lates-articles count="5" , skip="0"></vc:lates-articles>
                    </div>
                    <!-- Popular News Widget -->
                    <vc:most-commented-news count="6" , skip="0"></vc:most-commented-news>

                    <!-- Latest Comments Widget -->
                    <vc:latest-comments></vc:latest-comments>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        function showCommentForm() {
            $("#CommentForm").show();
        }
    </script>
}