@model ENews.Web.ViewModels.Articles.ArticleViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<div>
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="mb-4">
                    <h1>
                        @Model.Title
                    </h1>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" class="d-block rounded-circle" alt="">
                            <div class="media-body ml-3">
                                <a href="javascript:void(0)" data-abc="true">@Model.AuthorFullName</a>
                                <div class="text-muted small">@Model.CreatedOn</div>
                            </div>
                            <div class="text-muted small ml-3">
                                <div>Member since <strong>@Model.AuthorCreatedOn.ToString("dd/MM/yyyy")</strong></div>
                                <div><strong>@Model.AuthorArticlesCount</strong> articles</div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="media-body col-12 mb-2">
                            <div class="media-body mb-2">
                                <img src="@Model.PictureImageUrl" style='height: 100%; width: 100%; object-fit: contain' />
                            </div>
                            @if (Model.GalleryId != null)
                            {
                                <div class="col-12">
                                    <h4 class="text-center">
                                        <a asp-area="" asp-controller="Gallery" asp-action="Preview" asp-route-id="@Model.GalleryId" class="btn btn-primary">
                                            Go to gallery
                                        </a>
                                    </h4>
                                </div>

                            }
                        </div>
                        <div class="text col-12 text-break">
                            @Html.Raw(Model.SanitizedContent)
                        </div>
                    </div>
                    <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                        <div class="px-4 pt-3">
                            <span class="align-middle">
                                <strong>@Model.Comments.Count</strong> comments
                            </span>
                            <span class="text-muted d-inline-flex align-items-center align-middle ml-4">
                                <i class="fa fa-eye text-muted fsize-3">
                                </i>&nbsp;
                                <span class="align-middle">
                                    14532
                                </span>
                            </span>
                        </div>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <div class="px-4 pt-3">
                                <button type="button" class="btn btn-primary" onclick="showCommentForm()">Add Comment</button>
                            </div>
                        }
                    </div>
                    <div id="CommentForm" style="display: none">
                        <form asp-controller="Comment" asp-action="Create" method="post">
                            <input type="hidden" name="ArticleId" value="@this.Model.Id" />
                            <div id="commentTextBox">
                                <label for="Content"></label>
                                <textarea name="Content" id="Content" class="form-control"></textarea>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-primary" value="Submit" />
                            </div>
                        </form>
                    </div>
                    <div class="m-4">
                        @foreach (var comment in Model.Comments.OrderByDescending(c => c.CreatedOn))
                        {
                            <ul class="media-list">
                                <li class="media">
                                    <img class="img-thumbnail" src="https://bootdey.com/img/Content/user_1.jpg" alt="Thumbnail image">
                                    <div class="media-body">
                                        <span class="text-muted pull-right">
                                            <small class="text-muted">@comment.CreatedOn</small>
                                        </span>
                                        <strong class="text-success">@comment.UserFirstName @comment.UserLastName</strong>
                                        <p>
                                            @comment.Content
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        function showCommentForm() {
            $("#CommentForm").show();
        }
    </script>
}