@using ENews.Data.Models.Enums
@using ENews.Common
@model ENews.Web.ViewModels.Shared.Components.CategoriesViewModel

<ul class="navbar-nav flex-grow-1">
    @foreach (var category in Model.Categories)
    {
        <li class="nav-item dropdown">
            <a class="nav-link text-dark dropbtn" asp-area="" asp-controller="Categories" asp-action="Index" asp-route-name="@category.Title">@category.Title</a>
            <div class=" dropdown-content">
                @foreach (var subCategory in category.SubCategories)
                {
                    <a asp-area="" asp-controller="SubCategories" asp-action="Index" asp-route-categoryName="@category.Title" asp-route-subCategoryName="@subCategory.Title" class="nav-link text-dark">@subCategory.Title</a>
                }
            </div>
        </li>
    }
<li class="nav-item dropdown">
    <a class="nav-link text-dark dropbtn" asp-area="" asp-controller="Categories" asp-action="Local">@GlobalConstants.Country</a>
    <div class="dropdown-content">
        @foreach (var region in @Html.GetEnumSelectList<Region>())
        {
            <a asp-area="" asp-controller="Categories" asp-action="LocalByRegion" asp-route-region="@region.Text">@region.Text</a>
        }
    </div>
</li>
</ul>