@using ENews.Common
@model ENews.Web.ViewModels.Administration.Users.IndexUsersViewModel


@{
    ViewData["Title"] = "Active";
}
<div class="alert alert-primary" role="alert">
    <div class="text-center">
        @ViewData["Title"] user list
    </div>
</div>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <a class="nav-link active" href="">Active users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Administration" asp-controller="Users" asp-action="Banned">Blocked users</a>
            </li>
        </ul>
    </div>
    <table class="table table-responsive-lg">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().RolesNames)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().CreatedOn)
                </th>
                <th>
                    Action
                </th>
                <th>
                    Role Manage
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <div class="row">
                            @foreach (var role in item.RolesNames)
                            {
                                <div class="col">
                                    @Html.DisplayFor(modelItem => role)
                                </div>
                            }
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @if (!item.IsDeleted)
                        {
                            <a asp-action="Ban" asp-route-id="@item.Id">Ban</a>
                        }
                        else
                        {
                            <a asp-action="Unban" asp-route-id="@item.Id">Unban</a>
                        }
                    </td>
                    <td>
                        @if (item.RolesNames.Any(r => r == GlobalConstants.ReporterRoleName))
                        {
                        <a asp-action="RemoveRoleReporter" asp-route-id="@item.Id">Remove role reporter</a>
                        }
                        else
                        {
                            <a asp-action="AddRoleReporter" asp-route-id="@item.Id">Add role reporter</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
