@model ENews.Web.ViewModels.Administration.Users.IndexUsersViewModel


@{
    ViewData["Title"] = "Index";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().RolesNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().DeletedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users.FirstOrDefault().ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                <ul>
                    @foreach (var role in item.RolesNames)
                    {
                        <li>
                            @Html.DisplayFor(modelItem => role)
                        </li>
                    }
                </ul>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                @if (!item.IsDeleted)
                {
                        <a asp-action="Ban" asp-route-id="@item.Id">Ban</a>
                }
                else
                {
                        <a asp-action="UnBan" asp-route-id="@item.Id">UnBan</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>