@model ENews.Web.ViewModels.Administration.Users.IndexUsersViewModel


@{
    ViewData["Title"] = "Banned";
}
<div class="alert alert-danger" role="alert">
    <div class="text-center">
        @ViewData["Title"] user list
    </div>
</div>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <a class="nav-link" asp-area="Administration" asp-controller="Users" asp-action="Active">Active users</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="">Blocked users</a>
            </li>
        </ul>
    </div>
    <table class="table table-responsive-lg">
        <thead class="thead-light">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().RolesNames)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().DeletedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Users.FirstOrDefault().ModifiedOn)
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <ul>
                            @foreach (var role in item.RolesNames)
                            {
                                <li>
                                    @Html.DisplayFor(modelItem => role)
                                </li>
                            }
                        </ul>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeletedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        @if (!item.IsDeleted)
                        {
                            <a asp-action="Ban" asp-route-id="@item.Id">Ban</a>
                        }
                        else
                        {
                            <a asp-action="Unban" asp-route-id="@item.Id">Unban</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<nav aria-label="Page navigation example" class="center">
    <ul class="pagination mt-50 justify-content-center">

        @*First page*@
        @if (this.Model.CurrentPage != 1)
        {
            <li class="page-item">
                <a class="page-link" asp-area="Administration" asp-controller="Users" asp-action="Banned" asp-route-page="1">1</a>
            </li>
        }
        @*Pages before current page*@
        @for (int i = this.Model.CurrentPage - 2; i < this.Model.CurrentPage; i++)
        {
            @if (i > 1)
            {
                <li class="page-item">
                    <a class="page-link"
                       asp-area="Administration" asp-controller="Users" asp-action="Banned"
                       asp-route-page="@i">@i</a>
                </li>
            }
        }
        @*Current page*@
        @{
            <li class="page-item active">
                <a class="page-link"
                   asp-area="Administration" asp-controller="Users" asp-action="Banned"
                   asp-route-page="@this.Model.CurrentPage">@this.Model.CurrentPage</a>
            </li>
        }
        @*Pages after current page*@
        @for (int i = this.Model.CurrentPage + 1; i <= this.Model.CurrentPage + 2; i++)
        {
            @if (i < this.Model.PagesCount)
            {

                <li class="page-item">
                    <a class="page-link"
                       asp-area="Administration" asp-controller="Users" asp-action="Banned"
                       asp-route-page="@i">@i</a>
                </li>
            }
        }
        @*Last page*@
        @if (this.Model.CurrentPage != this.Model.PagesCount)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-area="Administration" asp-controller="Users" asp-action="Banned"
                   asp-route-page="@(this.Model.PagesCount)">@this.Model.PagesCount</a>
            </li>
        }
    </ul>
</nav>