@model ENews.Web.ViewModels.Galleries.GalleriesIndexViewModel
@{
    this.ViewData["Title"] = "Galleries";
}

<div class="container-fluid container">
    <div class="row">
        <div class="col-md-8">
            <div class="row p-2">
                <div class="card flex-fill p-1">
                    <div class="card-header">
                        <h4 class="card-title text-center">@Model.LastGallery.ArticleTitle</h4>
                    </div>
                    <img src="@Model.LastGallery.Images.FirstOrDefault().ImageUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">@Model.LastGallery.ContetPreview</p>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6">
                                <div class="row mb-1">
                                    <a asp-area="" asp-controller="Galleries" asp-action="Preview" asp-route-id="@Model.LastGallery.Id" class="btn btn-primary">Preview</a>
                                </div>
                                <div class="row">
                                    <a asp-area="" asp-controller="Articles" asp-action="Index" asp-route-id="@Model.LastGallery.ArticleId" class="btn btn-secondary">Article</a>
                                </div>
                            </div>
                            <div class="col-6">
                                <p class="text-right small text-muted">By <strong>@Model.LastGallery.ArticleAuthorUserName</strong></p>
                                <p class="text-right small text-muted">@Model.LastGallery.CreatedOn.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-2">
                @foreach (var gallery in Model.LastestGalleries)
                {
                    <div class="col-md-6 pb-1 p-0">
                        <div class="card flex-fill p-1">
                            <div class="card-header">
                                <h5 class="card-title">@gallery.ArticleTitle</h5>
                            </div>
                            <img src="@gallery.Images.FirstOrDefault().ImageUrl" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-text">@gallery.ContetPreview</p>
                            </div>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="row mb-1">
                                            <a asp-area="" asp-controller="Galleries" asp-action="Preview" asp-route-id="@gallery.Id" class="btn btn-primary">Preview</a>
                                        </div>
                                        <div class="row">
                                            <a asp-area="" asp-controller="Articles" asp-action="Index" asp-route-id="@gallery.ArticleId" class="btn btn-secondary">Article</a>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <p class="text-right small text-muted">By <strong>@gallery.ArticleAuthorUserName</strong></p>
                                        <p class="text-right small text-muted">@gallery.CreatedOn.ToString("dd/MM/yyyy")</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-4">
            <div class="row p-2">
                <vc:get-local-last-five-articles></vc:get-local-last-five-articles>
            </div>
            <div class="row p-2">
                <vc:lates-five-articles></vc:lates-five-articles>
            </div>
        </div>
    </div>
</div>

@*@foreach (var gallery in Model.LastestGalleries)
    {
        <div class="card" style="width: 18rem;">
            <img src="@gallery.Images.FirstOrDefault().ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }*@