@using ENews.Common
@model ENews.Web.ViewModels.MembersArea.Home.IndexArticlesViewModel

@{
    this.ViewData["Title"] = "Active articles";
}

<div class="alert alert-primary" role="alert">
    <div class="text-center">
        @ViewData["Title"] list
    </div>
</div>
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" asp-area="MembersArea" asp-controller="Article" asp-action="Active">Active personal articles</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-area="MembersArea" asp-controller="Article" asp-action="Deleted">Deleted personal articles</a>
            </li>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="nav-item active">
                    <a class="nav-link active" href="">@ViewData["Title"]</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-area="Administration" asp-controller="Articles" asp-action="AllDeleted">Deleted articles</a>
                </li>
            }
            <li class=" flex-grow-1"></li>
            <li class="nav-item">
                <a class="nav-link" asp-area="MembersArea" asp-controller="Article" asp-action="Create">Create New</a>
            </li>

        </ul>
    </div>
    <table class="table table-responsive-lg">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(Model => Model.Articles.FirstOrDefault().Title)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Articles.FirstOrDefault().PictureImageUrl)
                </th>
                <th>
                    Gallery
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Articles.FirstOrDefault().IsDeleted)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Articles.FirstOrDefault().DeletedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Articles.FirstOrDefault().CreatedOn)
                </th>
                <th>
                    @Html.DisplayNameFor(Model => Model.Articles.FirstOrDefault().ModifiedOn)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Articles)
            {
                <tr>
                    <td>
                        <a asp-area="" asp-controller="Articles" asp-action="Index" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Title)
                        </a>
                    </td>
                    <td>
                        <img src="@item.PictureImageUrl" width="100" />
                    </td>
                    <td>
                        @if (@item.GalleryId != null)
                        {
                            <p>yes</p>
                        }
                        else
                        {
                            <p>no</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeletedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ModifiedOn)
                    </td>
                    <td>
                        <ul>
                            <li>
                                <a asp-area="MembersArea" asp-controller="Article" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </li>
                            <li>
                                <a asp-area="MembersArea" asp-controller="Article" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<partial name="_Paging" />