@*@model IEnumerable<ENews.Data.Models.Category>*@
@model ENews.Web.ViewModels.Administration.SubCategories.IndexSubCategoriesViewModel

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(Model => Model.SubCategories.FirstOrDefault().Title)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.SubCategories.FirstOrDefault().CategoryTitle)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.SubCategories.FirstOrDefault().IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.SubCategories.FirstOrDefault().DeletedOn)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.SubCategories.FirstOrDefault().CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.SubCategories.FirstOrDefault().ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.SubCategories)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeleted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModifiedOn)
                </td>
                <td>
                    <ul>
                        <li>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        </li>
                        <li>
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </li>
                        @if (!item.IsDeleted)
                        {
                            <li>
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-action="Undelete" asp-route-id="@item.Id">Restore</a>
                            </li>
                        }
                        <li>
                            <a asp-action="HardDelete" asp-route-id="@item.Id">Hard Delete</a>
                        </li>
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
