@using ENews.Common;
@model ENews.Web.ViewModels.Users.UserProfileViewModel;
@using ENews.Data.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;

@{
    this.ViewData["Title"] = Model.UserName;
    var str = Model.FirstName + " " + Model.LastName;
}

<!-- Profile widget -->
<body class="profile-background">
    <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pt-0 pb-4 cover">
            <div class="media align-items-end profile-head">
                <div class="profile mr-3">
                    <a href="#">
                        @if (string.IsNullOrWhiteSpace(Model.ProfilePictureImageUrl))
                        {
                            <img src="@GlobalConstants.ProfilePictureFill" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        }
                        else
                        {
                            <img src="@Model.ProfilePictureImageUrl" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        }
                    </a>
                    @if (Model.MyProfile)
                    {
                        <a asp-area="Identity" asp-controller="Account" asp-action="Manage" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
                    }
                </div>
                <div class="media-body mb-5 text-white">
                    <h4 class="mt-0 mb-0 text-info">
                        @if (string.IsNullOrWhiteSpace(Model.FirstName))
                        {
                            @Model.UserName
                        }
                        else
                        {
                            @string.Concat(Model.FirstName, " ", Model.LastName)
                        }
                    </h4>
                    <p class="small mb-4 text-info"> <i class="fas fa-map-marker-alt mr-2"></i>New York</p>
                </div>
            </div>
        </div>
        <div class="bg-light p-4 d-flex justify-content-end text-center">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <h5 class="font-weight-bold mb-0 d-block">215</h5><small class="text-muted"> <i class="fas fa-image mr-1"></i>Photos</small>
                </li>
                <li class="list-inline-item">
                    <h5 class="font-weight-bold mb-0 d-block">745</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Followers</small>
                </li>
                <li class="list-inline-item">
                    <h5 class="font-weight-bold mb-0 d-block">340</h5><small class="text-muted"> <i class="fas fa-user mr-1"></i>Following</small>
                </li>
            </ul>
        </div>
        <div class="px-4 py-3">
            <h5 class="mb-0">About</h5>
            <div class="p-4 rounded shadow-sm bg-light">
                @if (string.IsNullOrWhiteSpace(@Model.Biography))
                {
                    <p class="font-italic mb-0">@GlobalConstants.BiographyFiller</p>
                }
                else
                {
                    <p class="font-italic mb-0">@Model.Biography</p>
                }
            </div>
        </div>
        <div class="py-4 px-4">
            @if (Model.MyArticles.Any())
            {
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Recent Articles</h5>
                    <a asp-area="" asp-controller="Users" asp-action="Articles" asp-route-data="@Model.UserName" class="btn btn-link text-muted">Show all</a>
                </div>

                <div class="row">
                    @foreach (var article in Model.MyArticles)
                    {
                        <div class="card col-lg-6 mb-2">
                            <a asp-area="" asp-controller="Articles" asp-action="Index" asp-route-title="@article.Title.Replace(' ', '-')" asp-route-id="@article.Id">
                                <img class="card-img-top" style="height:300px" src="@article.PictureImageUrl"  alt="Card image cap">
                                <div class="card-body">@article.Title</div>
                            </a>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</body>