@model ENews.Web.ViewModels.Shared.Components.GetLocalLatest.LocalLatestArticlesViewModel


<div class="section-heading">
    @if (Model.Region != null)
    {
        <h6>News from @Model.Region.Value</h6>
    }
    else
    {
        <h6>News from Bulgaria</h6>
    }
</div>
@foreach (var article in Model.Articles)
{
    <!-- Single Post -->
    <div class="single-blog-post style-2">
        <div class="post-thumb">
            <a asp-area="" asp-controller="Articles" asp-action="Index" asp-route-title="@article.Title.Replace(' ', '-')" asp-route-id="@article.Id"><img src="@article.PictureImageUrl" alt=""></a>
        </div>
        <div class="post-data">
            <a asp-area="" asp-controller="Articles" asp-action="Index" asp-route-title="@article.Title.Replace(' ', '-')" asp-route-id="@article.Id" class="post-title">
                <h6>@article.Title</h6>
            </a>
            <div class="post-meta">
                <div class="post-date"><p>@article.CreatedOn.ToString("dddd, dd MMMM yyyy")</p></div>
            </div>
        </div>
    </div>
}